.header {
  background-color: #1c2b35;
  height: 80px;
  padding: 0 140px 0 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  color: #ffffff;
  font-size: 17px;
  margin-left: 36px;
  text-decoration: none;
}
